<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="caret-back" color="tertiary" text="Retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <span *ngIf="isDone then userAccount else skeleton"></span>

  <ng-template #skeleton>
    <div class="map-skeleton">
      <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
    </div>
    <div class="container">
      <header>
        <ion-skeleton-text animated class="img"></ion-skeleton-text>
        <div style="width: 60%;">
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
        </div>
      </header>
      <div class="main">
        <ion-list>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 60%; height: 50%;"></ion-skeleton-text>
          </ion-item>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 100%; height: 50%;"></ion-skeleton-text>
          </ion-item>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 70%; height: 50%;"></ion-skeleton-text>
          </ion-item>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 90%; height: 50%;"></ion-skeleton-text>
          </ion-item>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 80%; height: 50%;"></ion-skeleton-text>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ng-template>

  <ng-template #userAccount>
    <capacitor-google-map id="map"></capacitor-google-map>
  
    <div class="container">
      <header>
        <img class="img" alt="User image" *ngIf="user.imageUrl != '' else noProfilePhoto"src="{{user.imageUrl}}" />
        <ng-template #noProfilePhoto>
          <img class="img" alt="Silhouette of a person's head" src="/assets/img/user-profile.png" />
        </ng-template>
        <div>
          <ion-text>
            <h2>{{user.fullname | titlecase}}</h2>
            <h4>+237 {{user.phone}}</h4>
            <h6>{{user.localisation.city}}, {{user.localisation.area}}</h6>
          </ion-text>
        </div>
      </header>
      <div class="main">
        <ion-list>
          <ion-item lines="full" button>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>Modifier mon adresse</ion-label>
          </ion-item>
          <ion-item lines="full" button>
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <ion-label>Changer ma photo de profil</ion-label>
          </ion-item>
          <ion-item lines="full" button>
            <ion-icon name="at-outline" slot="start"></ion-icon>
            <ion-label>Modifier mon email</ion-label>
          </ion-item>
          <ion-item lines="full" button>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Modifier mon mot de passe</ion-label>
          </ion-item>
          <ion-item lines="none" button>
            <ion-icon name="trash-outline" slot="start" color="primary"></ion-icon>
            <ion-label>Supprimer mon compte</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ng-template>
</ion-content>