<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="caret-back" color="tertiary" text="{{textLanguage.BACK_BUTTON}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <app-no-connection *ngIf="isOffline else online" (onClickTry)="onClickTry($event)"></app-no-connection>

  <ng-template #online>
    <span *ngIf="isDone then userAccount else skeleton"></span>
    <ng-template #skeleton>
      <app-account-skeleton></app-account-skeleton>
    </ng-template>
    <ng-template #userAccount>
      <capacitor-google-map id="map"></capacitor-google-map>
    
      <div class="container">
        <header>
          <img class="img" alt="User image" src="{{user.imageUrl}}" />
          <div>
            <ion-text>
              <h2>{{user.fullname | titlecase}}</h2>
              <h4>+237 {{user.phone}}</h4>
              <h6>{{user.localisation.city}}, {{user.localisation.area}}</h6>
            </ion-text>
          </div>
        </header>
        <div class="main">
          <ion-list>
            <ion-item lines="full" button [routerLink]="['/contributions']">
              <ion-icon src="assets/icon/restaurant-waiter-icon.svg" slot="start"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_1}}</ion-label>
            </ion-item>
            <ion-item lines="full" button (click)="presentModal('position')">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_2}}</ion-label>
            </ion-item>
            <ion-item lines="full" button (click)="presentModal('profil')">
              <ion-icon name="image-outline" slot="start"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_3}}</ion-label>
            </ion-item>
            <ion-item lines="full" button (click)="presentModal('email')">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_4}}</ion-label>
            </ion-item>
            <ion-item lines="full" button (click)="presentModal('password')">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_5}}</ion-label>
            </ion-item>
            <ion-item lines="none" button (click)="presentAlert()">
              <ion-icon name="trash-outline" slot="start" color="primary"></ion-icon>
              <ion-label>{{textLanguage.MENU.ITEM_6}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ion-content>

<ion-modal #offlineModal>
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-no-connection (onClickTry)="onClickTry($event)"></app-no-connection>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyPositionModal>
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('position')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            {{textLanguage.CANCEL_BUTTON}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-map-localisation (onConfirm)="onChangeLocalisation($event)"></app-map-localisation>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyPasswordModal [initialBreakpoint]=".75" [breakpoints]="[0, .75, 1]">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('password')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            {{textLanguage.CANCEL_BUTTON}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-change-password (onConfirm)="onChangePassword($event)"></app-change-password>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyEmailModal [initialBreakpoint]=".75" [breakpoints]="[0, .75, 1]">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('email')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            {{textLanguage.CANCEL_BUTTON}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-change-email [user]="user" (onConfirm)="onChangeInfos($event)"></app-change-email>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyProfilModal [initialBreakpoint]=".75" [breakpoints]="[0, .75, 1]">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('profil')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            {{textLanguage.CANCEL_BUTTON}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-change-profil [imageUrl]="user.imageUrl" (onConfirm)="onChangeProfil($event)"></app-change-profil>
    </ion-content>
  </ng-template>
</ion-modal>
