<div class="container">
  <ion-text class="ion-text-center">
    <h3>{{textLanguage.TITLE}}</h3>
  </ion-text>

  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-item lines="none" class="input">
      <ion-input formControlName="oldPassword" type="password" label="{{textLanguage.FORM.ITEM_1}}" labelPlacement="floating" clearOnEdit="true"></ion-input>
    </ion-item>
  
    <ion-item lines="none" class="input">
      <ion-input formControlName="newPassword" type="password" label="{{textLanguage.FORM.ITEM_2}}" labelPlacement="floating" clearOnEdit="true"></ion-input>
    </ion-item>
  
    <ion-item lines="none" class="input">
      <ion-input formControlName="rewritedPassword" type="password" label="{{textLanguage.FORM.ITEM_3}}" labelPlacement="floating" clearOnEdit="true"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" shape="round" [disabled]="form.invalid">
      {{textLanguage.SUBMIT_BUTTON}}
      <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
    </ion-button>
  </form>
</div>