<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Détails</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/search/Restaurant" icon="caret-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-cart-buttons *ngIf="!isConnected else loadCart"></app-cart-buttons>
      <ng-template #loadCart>
        <app-cart-buttons [userId]="userId"></app-cart-buttons>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <span *ngIf="!isDone then skeleton else showRestaurant"></span>

  <ng-template #skeleton>
    <app-details-restaurant-skeleton></app-details-restaurant-skeleton>
  </ng-template>
  

  <ng-template #showRestaurant>

    <capacitor-google-map id="map"></capacitor-google-map>

    <div class="container">
      <ion-button expand="block" fill="clear" *ngIf="isContributor" (click)="presentActionSheet()">
        <ion-icon slot="end" name="pencil"></ion-icon>
        Modifier
      </ion-button>
      <app-rating [rating]="displayedRestaurant.rate" [size]="1.3" [fixed]="true"></app-rating>
      <div class="votes">
        <ion-button fill="clear" size="small">
          <ion-icon slot="start" name="location" color="primary"></ion-icon>
          {{displayedRestaurant.distance | number:'1.0-1'}} km
        </ion-button>
        <ion-badge color="tertiary" mode="ios">{{displayedRestaurant.restaurant.nbVotes}} vote(s)</ion-badge>
      </div>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="8">
            <ion-text>
              <h2>{{displayedRestaurant.restaurant.name}}</h2>
              <small>{{displayedRestaurant.restaurant.localisation.city}}, {{displayedRestaurant.restaurant.localisation.area}}</small>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="callRestaurant()">
              <ion-icon slot="icon-only" name="call"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="openMealModal()">
              <ion-icon slot="start" name="restaurant"></ion-icon>
              Voir le(s) repas
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>    

      <ion-accordion-group>
        <ion-accordion value="images">
          <ion-item slot="header" color="ultra-light">
            <ion-label>Photos</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <swiper-container [slidesPerView]="1" [centeredSlides]="true" [pagination]="true">
              <swiper-slide *ngFor="let image of displayedRestaurant.restaurant.images | keyvalue">
                <ion-card>
                  <img src="{{image.value.url}}" alt="Image">
                </ion-card>
              </swiper-slide>
            </swiper-container>
          </div>
        </ion-accordion>
        <ion-accordion value="comments">
          <ion-item slot="header" color="ultra-light">
            <ion-label>Commentaires</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-comments [idRestaurant]="displayedRestaurant.restaurant._id"></app-comments>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      
    </div>
  </ng-template>
</ion-content>

<ion-modal #mealModal [initialBreakpoint]=".75" [breakpoints]="[0, .75, 1]">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('')" color="primary">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-search-meal displayedPage="restaurant" [idRes]="displayedRestaurant.restaurant._id"></app-search-meal>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyImagesModal>
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('images')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            Annuler
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-change-pictures [images]="displayedRestaurant.restaurant.images" (onConfirm)="onChangeImages($event)"></app-change-pictures>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyInfosModal [initialBreakpoint]=".60" [breakpoints]="[0, .60, 1]">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('infos')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            Annuler
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-restaurant-infos [restaurant]="displayedRestaurant.restaurant" (onConfirm)="onChangeInfos($event)"></app-restaurant-infos>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyLocalisationModal>
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('localisation')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            Annuler
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-map-localisation (onConfirm)="onChangeLocalisation($event)"></app-map-localisation>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modifyMealsModal>
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel('meals')" color="primary">
            <ion-icon slot="end" name="close"></ion-icon>
            Annuler
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-update-meals [restaurantId]="displayedRestaurant.restaurant._id"></app-update-meals>
    </ion-content>
  </ng-template>
</ion-modal>