<ion-button id="modal-appreciation" expand="block">
  <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
  Laisser un commentaire
</ion-button>

<ion-modal trigger="modal-appreciation" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50, 0.80, 1]">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Evaluation</ion-title>
        <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
        </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-rating [rating]="0" [size]="2" [position]="'evenly'" (ratingChange)="onClickRate($event)"></app-rating>

      <form [formGroup]="commentForm" (ngSubmit)="confirm()">
        <ion-item lines="none" class="input">
          <ion-textarea label="Votre commentaire" labelPlacement="floating" autocapitalize="true" formControlName="comment"></ion-textarea>
        </ion-item>
        
        <ion-button shape="round" expand="block" type="submit" [disabled]="commentForm.invalid">
          Valider
          <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>


<span *ngIf="!isDone then skeleton else showComments"></span>
<ng-template #skeleton>
  <app-card-skeleton></app-card-skeleton>
  <app-card-skeleton></app-card-skeleton>
  <app-card-skeleton></app-card-skeleton>
</ng-template>

<ng-template #showComments>
  <app-appreciation *ngFor="let app of appreciations" [appreciation]="app" (onChange)="onChange($event)"></app-appreciation>
</ng-template>