<div class="container">
  <ion-searchbar placeholder="Rechercher" (ionInput)="handleInput($event)" [debounce]="1000" mode="ios" animated="true"></ion-searchbar>

  <span *ngIf="!isDone then skeleton else showRestaurants"></span>

  <ng-template #skeleton>
    <app-card-skeleton></app-card-skeleton>
    <app-card-skeleton></app-card-skeleton>
    <app-card-skeleton></app-card-skeleton>
  </ng-template>

  <ng-template #showRestaurants>
    <ion-accordion-group>
      <ion-accordion value="filter" toggleIcon="options">
        <ion-item slot="header" class="btn-filter">
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-radio-group name="advancedSearch">
            <ion-item>
              <ion-radio value="category" (click)="selectedSearch($event)">Rechercher par catégorie</ion-radio>
            </ion-item>
            <ion-item *ngIf="advancedSearchSelected === 'category'">
              <ion-select value="category" placeholder="Selectionnez" [(ngModel)]="category">
                <ion-select-option value="Fast-food">Fast-Food</ion-select-option>
                <ion-select-option value="Street-food">Street-Food</ion-select-option>
                <ion-select-option value="Caféteria">Caféteria</ion-select-option>
                <ion-select-option value="Restaurant classique">Restaurant Classique</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-radio value="city" (click)="selectedSearch($event)">Rechercher par la ville</ion-radio>
            </ion-item>
            <ion-item *ngIf="advancedSearchSelected === 'city'">
              <ion-input type="text" placeholder="Entrez la ville" [(ngModel)]="city"></ion-input>
            </ion-item>
          </ion-radio-group>
          <ion-button expand="block" fill="clear" shape="round" (click)="applyFilter()">Appliquer</ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  
    <app-restaurant *ngFor="let val of results" [restaurant]="val.restaurant" [distance]="val.distance"></app-restaurant>
  </ng-template>
</div>