<div class="container">
  <ion-searchbar placeholder="{{textLanguage.SEARCHBAR}}" (ionInput)="handleInput($event)" [debounce]="1000" mode="ios" animated="true"></ion-searchbar>
  <span *ngIf="!isDone then skeleton else showMeals"></span>

  <ng-template #skeleton>
    <app-card-skeleton></app-card-skeleton>
    <app-card-skeleton></app-card-skeleton>
    <app-card-skeleton></app-card-skeleton>
  </ng-template>

  <ng-template #showMeals>
    <app-meal *ngFor="let meal of results" [meal]="meal" (onChangeFavourite)="changeFavourite($event)"></app-meal>
  </ng-template>
</div>
