.banner{
    background-image: url('../../../../assets/img/pngegg\ \(1\).png');
    background-size: cover;
    background-position: center;
}

#userGreating{
    h2{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1rem;
    }
}