.carousel{
    width: 100%;
    height: 38vh;
    position: relative;
    button{
        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;
        border-radius: 20rem;
        position: absolute;
        bottom: .5rem;
        right: .8rem;
        z-index: 5;
        background-color: var(--ion-color-light);
        ion-icon{
            width: 100%;
            height: 100%;
        }
    }

    swiper-container{
        width: 100%;
        height: 100%;
        swiper-slide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 400ms all ease-in-out;
            ion-card{
                margin: 0;
                width: 95%;
                height: 90%;
                box-shadow: none;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.1, 1.1) rotate(3deg);
                    transition: 600ms all ease-in-out;
                }
            }  
        }    
        .swiper-slide-active{
            transform: scale(1.05, 1.05);
            ion-card{
                img{
                    transform: scale(1, 1);
                }
            }
        }
    }
}

.container {
    height: calc(100vh - (36vh + 20vh));
    box-sizing: border-box;
    overflow: auto;
    ion-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2, h3, h4, h5, h6{
        margin: 0;
        font-weight: bold;
    }
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-button{
        width: 80%;
    }
}

ion-button{
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
}

ion-modal {
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    ion-item{
        margin: 1rem 0;
    }

    .input{
        border: 1px solid var(--ion-color-medium);
        padding: 0.5rem;
        height: 20vh;
        border-radius: 0.5rem;
        margin: 1rem 0px;
    }

    ion-grid{
        height: 8vh;
    }

    .commande {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: .5rem;
        justify-content: center;
        .moins, .plus {
            background-color: var(--ion-color-primary);
            border: none;
            color: var(--ion-color-primary-contrast);
            padding: 12px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.5rem;
            margin: 4px 2px;
            border-radius: 1rem;
        }
        .quantite {
            margin: 0 2rem;
            font-size: 1.5rem;
        }
    }
}
  
  