<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{textLanguage.TITLE}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/search/Tous" icon="caret-back" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <span *ngIf="!isDone then skeleton else showDetails"></span>

  <ng-template #skeleton>
    <app-details-meal-skeleton></app-details-meal-skeleton>
  </ng-template>

  <ng-template #showDetails>
    <div class="carousel">
      <button (click)="makeFavourite()">
        <ion-icon slot="icon-only" name="heart" *ngIf="meal.isFavourite" color="primary"></ion-icon>
        <ion-icon slot="icon-only" name="heart-outline" *ngIf="!meal.isFavourite" color="primary"></ion-icon>
      </button>
      <swiper-container [slidesPerView]="1.2" [centeredSlides]="true">
        <swiper-slide *ngFor="let image of meal.images | keyvalue">
          <ion-card>
            <img src="{{image.value.url}}" alt="Image">
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
  
    <div class="container">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-text color="tertiary">
              <h2 class="title">{{meal.name | titlecase}}</h2>
            </ion-text>
            <ion-text color="secondary">
              <h6>{{meal.restaurant.name | titlecase}}</h6>
              <small>{{meal.restaurant.localisation.city}}, {{meal.restaurant.localisation.area}}</small>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-text color="primary" class="ion-text-end">
              <h3 class="price">{{textLanguage.PRICE_TEXT}} : {{meal.price}} Fcfa</h3>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-list-header>
          <ion-label>
            <h4>{{textLanguage.ACCOMPAGNEMENTS_TEXT}}</h4>
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let accompagnement of meal.accompagnements">
          <ion-icon name="menu" slot="start" size="medium"></ion-icon>
          <ion-label>{{accompagnement}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  
    <footer>
      <ion-button expand="block" shape="round" (click)="onClickCommand()">
        {{textLanguage.COMMAND_BUTTON}}
      </ion-button>
    </footer>
  
    <ion-modal [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()" fill="clear">
                {{textLanguage.FORM.CANCEL_BUTTON}}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="commande">
            <button class="moins" (click)="removeQuantity()">-</button>
            <span class="quantite">{{order.quantity}}</span>
            <button class="plus" (click)="addQuantity()">+</button>
          </div>
          <form [formGroup]="orderForm">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">
                  <ion-item lines="none">
                    <ion-checkbox labelPlacement="start" formControlName="hot">{{textLanguage.FORM.ITEM_1}}</ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item lines="none">
                    <ion-checkbox labelPlacement="start" formControlName="spiced">{{textLanguage.FORM.ITEM_2}}</ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item lines="none">
              <ion-select label="{{textLanguage.FORM.ITEM_3}}" labelPlacement="floating" formControlName="accompagnement">
                <ion-select-option *ngFor="let accompagnement of meal.accompagnements" value="{{accompagnement}}">{{accompagnement}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" class="input">
              <ion-textarea label="{{textLanguage.FORM.ITEM_4}}" labelPlacement="floating" autocapitalize="true" formControlName="others"></ion-textarea>
            </ion-item>
          </form>
          <ion-item lines="none">
            <ion-text color="danger">
              <h1>Total: {{meal.price * order.quantity}} Fcfa</h1>
            </ion-text>
          </ion-item>
          <ion-button shape="round" (click)="confirm()" expand="block" [disabled]="orderForm.invalid">
            {{textLanguage.SUBMIT_BUTTON}}
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ng-template>
</ion-content>
