capacitor-google-map{
    height: 70vh;
    width: 100%;
    display: inline-block;
}

ion-button{
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    ion-spinner{
        height: 1.2rem;
    }
}