@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}
.container{
    padding: .8rem;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}