<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">S'authentifier</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <img src="assets/icon/favicon.png" alt="Logo">
      <ion-text color="primary">
        <h1></h1>
      </ion-text>
    </div>
    <div class="page-content ion-padding">
      <ion-item-group mode="ios">
        <ion-item lines="none" color="primary">
          <ion-input type="email" label="Email" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item lines="none" color="primary">
          <ion-input type="password" label="Mot de passe" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-item-group>
      <div class="ion-padding">
        <ion-button size="large" mode="ios" expand="block" color="success">
          Connexion
        </ion-button>
        <ion-text color="light">
          <p>Pas encore de compte ? <a id="open-modal">Créer un compte</a></p>
        </ion-text>
      </div>
    </div>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>S'Inscrire</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none">
          <ion-text class="ion-text-center">
            <h2>Créer un compte</h2>
            <small>Enregistrez-vous pour pouvoir bénéficier de toutes nos fonctionnalités</small>
          </ion-text>
        </ion-item>
        <div class="photo-container">
          <ion-button (click)="addPhotoToGallery()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
          <ion-img [src]="photoService.photos[0].webviewPath"></ion-img>
        </div>
        <ion-item lines="none">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input type="text" label="Nom complet" labelPlacement="floating" ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input type="email" label="Email" labelPlacement="floating" ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-input type="password" label="Mot de passe" labelPlacement="floating" ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input type="number" label="Téléphone" labelPlacement="floating" ></ion-input>
        </ion-item>
        <ion-button (click)="confirm()" size="large">Confirmer</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>