<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="caret-back" color="tertiary" text="{{textLanguage.BACK_BUTTON}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <img src="assets/icon/avatar.svg" alt="Logo">
      <ion-text>
        <h4>{{textLanguage.TITLE}}</h4>
        <small>{{textLanguage.SUBTITLE}}</small>
      </ion-text>
    </header>
    <div class="main">
      <form [formGroup]="loginForm" (ngSubmit)="onSignIn()" novalidate>
        <ion-item lines="none">
          <ion-input type="email" placeholder="{{textLanguage.FORM.ITEM_1}}" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" placeholder="{{textLanguage.FORM.ITEM_2}}" clearOnEdit="true" formControlName="password"></ion-input>
        </ion-item>
        <span class="errorMsg" *ngIf="msgError != '' ">{{msgError}}</span>
        <ion-button expand="full" color="secondary" shape="round" strong="true" type="submit" [disabled]="!loginForm.valid">
          {{textLanguage.FORM.SUBMIT_BUTTON}}
          <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
        </ion-button>
        <ion-text>
          <p>{{textLanguage.FORM.NEED_ACCOUNT.PART1}}<a id="open-modal">{{textLanguage.FORM.NEED_ACCOUNT.PART2}}</a></p>
        </ion-text>
      </form>
    </div>
  </div>
</ion-content>

<ion-modal trigger="open-modal">
    <ng-template>
      <ion-header [translucent]="true" class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()" color="primary">
              <ion-icon slot="end" name="close"></ion-icon>
              {{textLanguage.CANCEL_BUTTON}}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-account-form (onConfirm)="signUp($event)"></app-account-form>
      </ion-content>
    </ng-template>
</ion-modal>