.container{
    height: 100%;
    padding: 2rem;
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 30vh;
        img{
            height: 20vh;
            border-radius: 25rem;
        }
        ion-text{
            text-align: center;
            h4{
                font-weight: bold;
                color: var(--ion-color-tertiary);
            }
        }
    }

    .main{
        ion-item{
            margin: 1rem 0;
            --border-radius: .5rem;
            --background: var(--ion-color-ultra-light);
        }
        ion-button{
            margin-top: 1.5rem;
            --padding-top: 1.5rem;
            --padding-bottom: 1.5rem;
            ion-spinner{
                height: 1.2rem;
            }
        }
        ion-text{
            font-size: .9rem;
            text-align: center;
            p{
                margin: 3rem 0 0 0;
            }
        }
        .errorMsg{
            color: var(--ion-color-danger);
            display: inline-block;
            font-size: small;
            font-style: italic;
        }
    }
}
  