<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rechercher</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-cart-buttons></app-cart-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [scrollable]="true" value="all">
    <ion-segment-button value="all">
      <ion-label>Tous</ion-label>
    </ion-segment-button>
    <ion-segment-button value="restaurant">
      <ion-label>Restaurant</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
