ion-card{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin: 1.25rem .5rem;
    img{
        position: absolute;
        z-index: 2;
    }
    &-header{
        max-height: 48%;
        padding: .5rem .8rem;
        z-index: 10;
        background-color: #b51943cf;
    }
    &-title {
        color: white;
    }
    &-subtitle{
        color: #e8e8e8;
    }

}