<ion-card (click)="onClick()" color="primary">
  <img alt="Image restaurant" src="{{restaurant.images.values().next().value.url}}" />
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-col size="12">
              <h2>{{restaurant.name | titlecase}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>{{restaurant.localisation.city}}, {{restaurant.localisation.area}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <app-rating [rating]="rate" [size]="1.3" [fixed]="true"></app-rating>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear" size="small" color="light">
                <ion-icon slot="start" name="location"></ion-icon>
                {{distance | number:'1.0-1'}} km
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>