<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-end">{{appreciation.date | date:"MM/dd/yyyy"}}</ion-card-subtitle>
    <app-rating [rating]="appreciation.note" [size]="1.3" position="start" [fixed]="true"></app-rating>
    <ion-card-title>{{appreciation.user.fullname}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button id="popover-button-{{appreciation._id}}" slot="icon-only" class="popup" fill="clear" *ngIf="canEdit" (click)="openPopover()">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <p>{{appreciation.review}}</p>
  </ion-card-content>
</ion-card>

<ion-popover [dismissOnSelect]="false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" (click)="openModal()">Modifier</ion-item>
        <ion-item [button]="true" (click)="onClickDelete()">Supprimer</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50, 0.80, 1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modifier évaluation</ion-title>
        <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-rating [rating]="appreciation.note" [size]="2" [position]="'evenly'" (ratingChange)="onClickRate($event)"></app-rating>

      <form [formGroup]="commentForm" (ngSubmit)="confirm()">
        <ion-item lines="none" class="input">
          <ion-textarea label="Votre commentaire" labelPlacement="floating" autocapitalize="true" formControlName="comment"></ion-textarea>
        </ion-item>
        
        <ion-button shape="round" expand="block" type="submit" [disabled]="commentForm.invalid">
          Valider
          <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>