<swiper-container mode="ios" pager="ios" scrollbar="ios" [option]="option" class="ion-margin-top">
  <swiper-slide>
    <ion-card>
      <img src="/assets/img/card-media.png" alt="images">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="/assets/img/card-media.png" alt="images">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="/assets/img/card-media.png" alt="images">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="/assets/img/card-media.png" alt="images">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="/assets/img/card-media.png" alt="images">
    </ion-card>
  </swiper-slide>
</swiper-container>
