<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="title">{{textLanguage.TITLE}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="caret-back" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-searchbar placeholder="{{textLanguage.SEARCHBAR}}" (ionInput)="handleInput($event)" [debounce]="1000" mode="ios" animated="true"></ion-searchbar>

    <span *ngIf="!isDone then skeleton else showRestaurants"></span>
    <ng-template #skeleton>
      <app-card-skeleton></app-card-skeleton>
      <app-card-skeleton></app-card-skeleton>
      <app-card-skeleton></app-card-skeleton>
    </ng-template>

    <ng-template #showRestaurants>
      <app-restaurant *ngFor="let val of results" [restaurant]="val.restaurant" [distance]="val.distance" [rate]="val.rate" [contributorId]="userId"></app-restaurant>
    </ng-template>
  </div>
  
</ion-content>
